<h1>Startup Hall Notify Login</h1>
<div>
  <label>Username</label>
  <input type="text" ng-model='user.username' placeholder="ex: coolguy"/>
  <label>Password</label>
  <input type="password" ng-model="user.password"/>
  <button ng-click="userLogin()">Login</button>
  <!-- <button ng-hide="showSignup" ng-click="showSignup = true">Sign Up?</button> -->
<!--   <div ng-show="showSignup">
    <label>Organization</label>
    <input type="text" ng-model='user.organization' placeholder="ex: StartUp Hall"/>
    <button ng-click="signup()">Sign Up!</button>
    <button ng-click="showSignup = undefined">cancel</button>
  </div>
 --></div>
